// Use Compass ('cause it rocks!)
@import "compass";

// Set this to true to force CSS output to exactly match normalize.css.
$strict-normalize: true !default;

// The default font family.
$base-font-family:  sans-serif !default;

// The base font size.
$base-font-size: 16px !default; // Override default set in Compass' Vertical Rhythm partial.

// The base line height determines the basic unit of vertical rhythm.
$base-line-height: 24px !default; // Override default set in Compass' Vertical Rhythm partial.

// The font sizes for h1-h6.
$h1-font-size: 2    * $base-font-size !default;
$h2-font-size: 1.5  * $base-font-size !default;
$h3-font-size: 1.17 * $base-font-size !default;
$h4-font-size: 1    * $base-font-size !default;
$h5-font-size: 0.83 * $base-font-size !default;
$h6-font-size: 0.67 * $base-font-size !default;

// The amount lists and blockquotes are indented.
$indent-amount: 40px !default;

// Set this to true to add support for IE 6.
$legacy-support-for-ie6: false !default; // Override default set in Compass' Support partial.

// Set this to true to add support for IE 7.
$legacy-support-for-ie7: false !default; // Override default set in Compass' Support partial.

// After the default variables are set, import the required Compass partials.
@import "compass/support";
@import "compass/css3/box-sizing";
@import "compass/typography/vertical_rhythm";

* {
  @include box-sizing(border-box);
  *behavior: url(boxsizing.htc);
}


@import "modules/all";
@import "partials/layout";
@import "partials/grids";
@import "partials/typography";
@import "partials/forms";
@import "partials/figures";
@import "partials/wp-core";

