a {
  color: $blue;
  text-decoration: none;
  @include transition-duration(0.3s);


  &:active, &:hover {
    color: lighten($blue, 5%);
  }
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/* ==========================================================================
   Typography
   ========================================================================== */

@if not $strict-normalize or $legacy-support-for-ie6 or $legacy-support-for-ie7 {
  /**
   * Set 1 unit of vertical rhythm on the top and bottom margin.
   */

  p,
  pre {
    margin: rhythm(1) 0;
    line-height: 1.5;
  }

  blockquote {
    /* Set 1 unit of vertical rhythm on the top and bottom margin. */
    margin: rhythm(1) $indent-amount;
  }
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {

}

  h2 {

  }

  h3 {

  }

  h4 {

  }

  h5 {

  }

  h6 {

  }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  @include box-sizing(content-box);
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  @else {
    white-space: pre-wrap;
  }
}

/**
 * Set consistent quote types.
 */

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */

@if not $strict-normalize or $legacy-support-for-ie6 or $legacy-support-for-ie7 {
  /**
   * Address margins set differently in IE 6/7.
   */

  dl,
  menu,
  ol,
  ul {
    margin: rhythm(1) 0;
  }

  @if not $strict-normalize {
    ol,
    ul {
      ol,
      ul {
        margin: 0;
      }
    }
  }

  dd {
    margin: 0 0 0 $indent-amount;
  }

  /**
   * Address paddings set differently in IE 6/7.
   */

  menu,
  ol,
  ul {
    padding: 0 0 0 $indent-amount;
  }
}

@if $legacy-support-for-ie7 {
  /**
   * Correct list images handled incorrectly in IE 7.
   */

  nav ul,
  nav ol {
    list-style: none;
    list-style-image: none;
  }
}

.screen-reader-text {
  display:none !important;
}

.menu-toggle {
  @extend .screen-reader-text;
}